= form_for [:admin, @page], :html => { :class => 'new-page-form' } do |f|

  = render :partial => 'shared/error_messages', :object => @page

  %div{id: 'wmd-button-bar'}
  = f.text_area :body, id: 'wmd-input'

  %fieldset.buttons
    %ol
      %li.commit.button= f.submit
      %li.cancel= link_to 'Cancel', admin_pages_path
