- title('Dashboard')

.row-fluid.dashboard-main
  .span8.main

    %h1 Welcome #{ current_user.profile.first_name }!

    %p.intro-paragraph This is your main dashboard for GP at Home.

    - if current_user.group.plan.name == 'Family' && current_user.group.users.count == 1
      %p.alert.alert-success
        You look like you're on the Family plan.
        = link_to 'Click here', user_account_group_path
        to add another account member.

    = render 'shared/consultation_message'

    %h3 Consultations
    = render partial: 'shared/consultations', locals: { consultations: consultations_for_user }

  = render partial: 'shared/user_sidebar'
