.row-fluid.message
  .detail.span10
    = form_for [@consultation, @message], :html => { :multipart => true } do |f|
      = render :partial => 'shared/error_messages', :object => @consultation
      = f.label :message
      = f.text_area :message
      = f.hidden_field :attachments
      = f.submit 'Send', :class => 'btn btn-primary btn-large'

    = render 'shared/attachments', :asset => @assets unless current_user.is_admin_or_gp?

  - unless admin_view
    .span2
      = render_side_images(@consultation)