.row-fluid.message{:data => { :message_id => message.id, :consultation_id => message.consultation.id }}
  .detail.from.span10
    %p= simple_format(auto_link message.message)
    .row-fluid
      .span12
        .row-fluid
          .span6
          - unless message.assets.empty?
            .enlarged
            .attachments
              - message.assets.each do |attachment|
                .attachment
                  = render "assets/#{attachment.file_type}", asset: attachment, enlargement_allowed: true
          .span6
            %small
              From
              = from_who?(message)
              \-
              = message_time(message)
  - unless current_user.is_admin_or_gp?
    .span2
      = render_side_images(message)
