.control-group
  = p.label :street_address, 'Address 1', :class => 'control-label'
  .controls
    = p.text_field :street_address

.control-group
  = p.label :extended_address, 'Address 2', :class => 'control-label'
  .controls
    = p.text_field :extended_address

.control-group
  = p.label :locality, 'City', :class => 'control-label'
  .controls
    = p.text_field :locality

.control-group
  = p.label :region, 'County', :class => 'control-label'
  .controls
    = p.text_field :region

.control-group
  = p.label :postal_code, 'Postcode', :class => 'control-label'
  .controls
    = p.text_field :postal_code