- title('Profile')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/profile_nav_header'

    .row-fluid
      .span12
        %h2 Profile
        %p Here you can tell us a little about yourself...

        %p Looking to change your password? No problem, #{ link_to 'click here', edit_user_account_password_path }.

        = render :partial => 'layouts/flash', :object => flash

        .profile-form
          = form_for @user, :url => edit_profile_path(@user.profile), :html => { :class => 'form-horizontal' } do |f|

            = render :partial => 'shared/error_messages', :object => @user

            - if current_user.show_dependent_consultations? && current_user.group.users.dependents.any?
              .control-group
                = f.label 'Select profile', :class => 'control-label'
                .controls
                  = f.select :profile, current_user.group.users.dependents_and_self(current_user).collect { |u| [ u.profile.full_name, u.profile.id ] }, { :selected => @user.profile.id }
                  %span.help-block Select which profile you wish to edit.

            - unless @user.role? === 'dependent'
              .control-group
                = f.label :email, :class => 'control-label'
                .controls
                  = f.text_field :email, :class => 'medium'

            = f.fields_for :profile do |p|

              .control-group
                = p.label :first_name, :class => 'control-label'
                .controls
                  = p.text_field :first_name, :class => 'medium'

              .control-group
                = p.label :last_name, :class => 'control-label'
                .controls
                  = p.text_field :last_name

              %hr

              .control-group
                = p.label :phone_1, 'Phone', :class => 'control-label'
                .controls
                  = p.text_field :phone_1, :value => p.object.phone_1

              = render partial: 'address_fields', :locals => { :p => p }

              %hr

              .control-group
                = p.label :date_of_birth, :class => 'control-label'
                .controls
                  = p.date_select :date_of_birth, :start_year => Time.now.year, :end_year => Time.now.year - 100, :include_blank => true, :order => [:day, :month, :year]
                  %span.help-block

              .control-group
                = p.label :gender, :class => 'control-label'
                .controls
                  = p.select :gender, { 'Male' => true, 'Female' => false }, :include_blank => true

            .form-actions
              = f.submit 'Update', :class => 'btn btn-primary'

  = render partial: 'shared/user_sidebar'
