- title("Edit Profile")
%h1 View your profile

= render :partial => 'layouts/flash', :object => flash

.profile-form
  = form_for @user do |f|
    = f.error_messages
    = f.fields_for :profile do |p|
      = p.label :first_name
      = p.text_field :first_name
      = p.label :last_name
      = p.text_field :last_name
      = p.label :date_of_birth
      = p.text_field :date_of_birth
    = f.submit "Update", :class => "btn default"
