%h2 Resend confirmation instructions
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .clearfix
    = f.label :email
    .input
      = f.email_field :email
  .actions= f.submit 'Resend confirmation instructions', :class => 'btn default primary'
= render :partial => 'devise/shared/links'