= form_for [:admin, @consultation], :html => { :class => 'new-plan-form' } do |f|

  = render :partial => 'shared/error_messages', :object => @consultation

  %fieldset.inputs
    = f.label :subject
    = f.text_field :subject

    = f.fields_for :messages, @consultation.messages.build do |m|
      = m.label :message
      = m.text_area :message
      = m.hidden_field :attachments
      = m.hidden_field :user_id, value: current_user.id

    = f.label :user_id, 'Patient'
    = f.collection_select :user_id, User.all, :id, :full_name

    = hidden_field_tag 'consultation[assigned_to_id]', current_user.id

  %fieldset.buttons
    %ol
      %li.commit.button= f.submit
      %li.cancel= link_to 'Cancel', admin_plans_path
