.row-fluid
  .span8
    %h3 Reply
    = render 'messages/form', :admin_view => true
    = render 'consultations/consultation_messages', :admin_view => true

  .span4
    %h3 Patient Details
    .dashboard_section.panel
      .panel_contents
        .attributes_table
          %table.patient_details
            %tbody
              %tr
                %td Name
                %td= @medical_profile.full_name
              %tr
                %td Date of Birth
                %td= @medical_profile.date_of_birth
              %tr
                %td Gender
                %td= @medical_profile.gender
              %tr
                %td Phone Number
                %td= @medical_profile.phone_number
              %tr
                %td Height
                %td= @medical_profile.height
              %tr
                %td Weight
                %td= @medical_profile.weight
              %tr
                %td Smoking
                %td= @medical_profile.smoking
              %tr
                %td Alcohol Units
                %td= @medical_profile.alcohol_units

        = link_to 'View full profile', admin_user_path(@patient), :target => '_blank', :class => 'view_profile'

    %h3 File Attachments
    .dashboard_section.panel
      .panel_contents
        .attributes_table
          = render 'shared/attachments', :asset => @assets, :enlargement_allowed => false


.row-fluid.consultations
  .span8.consultation_history
    %h3 Consultation History
    %table.index_table
      %tbody
        %tr
          %th Date
          %th Subject
          %th Doctor
        - @old_consultations.each_with_index do |consultation, i|
          %tr
            %td= consultation.updated_at.strftime('%B %d, %Y %H:%M')
            %td= link_to consultation.subject, reply_admin_consultation_path(consultation)
            %td
              - if consultation.assigned_to
                = consultation.assigned_to.profile.first_name