%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  
  .clearfix
    = f.label :email
    .input
      = f.email_field :email
      
  .clearfix
    = f.label :password
    %i (leave blank if you don't want to change it)
    .input
      = f.password_field :password
      
  .clearfix
    = f.label :password_confirmation
    .input
      = f.password_field :password_confirmation
      
  .clearfix
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    .input
      = f.password_field :current_password
  %div= f.submit 'Update'
%h3 Cancel my account
%p
  Unhappy? #{link_to 'Cancel my account', registration_path(resource_name), :confirm => 'Are you sure?', :method => :delete}.
= link_to 'Back', :back