%h2 Sign up
= form_for(resource, :as => resource_name, :url =>  registration_path(resource_name)) do |f|
  = devise_error_messages! 
  .clearfix
    = f.label :email
    .input
      = f.email_field :email
  .clearfix
    = f.label :password
    .input
      = f.password_field :password
  .clearfix
    = f.label :password_confirmation
    .input
      = f.password_field :password_confirmation 
  -byebug 
  .actions= f.submit 'Sign up'

= render :partial => 'devise/shared/links'