= render 'notifier/header'

%h2 Hi #{@user.profile.first_name},

%p
  Your account has been approved. Welcome to GP at Home! You are now ready to log in whenever you wish.

%p
  Here are your login details:
  %br
  Username:
  = @user.email
  %br
  Password: The one you used when you signed up!

%p
  %a{:href=>"#{APP_URL}/login"} Click here to log in!

%p
  Please feel free to log in and take a look around the site even if you don’t have a query at the moment. We’d be happy to answer any of your questions:
  %a{:href=>"mailto:#{ADMIN_EMAIL}"}
    = ADMIN_EMAIL

%p Thank you again for signing up,

%p GP at Home
