= render 'notifier/header'

%h2 New Consultation

%p Someone has just added a new consultation&hellip;

%p= "Their name is: #{@user.profile.full_name}"

%p
  Visit
  %a{:href=>"#{APP_URL}/admin"}
    = "#{APP_URL}/admin"
  to reply to them.

%p
  Thanks,

  GP at Home
