= render 'notifier/header'

%h2 Hello

%p= "Dr #{@gp_name} has just replied to your consultation on GP at Home..."

%p
  Please visit
  %a{:href=>APP_URL}
    = APP_URL
  to view the reply.

%p Thanks,

%p GP at Home
