= render 'notifier/header'

%h2 New User!

%p Someone has just signed up for GP at Home&hellip;

%p= "Their name is: #{@user.profile.full_name}"

%p
  Visit
  %a{:href=>"#{APP_URL}/admin"}
    = "#{APP_URL}/admin"
  to view their profile and approve them.

%p
  Thanks,

  GP at Home
