= render 'notifier/header'

%h2 New Consultation Message

%p Someone has just replied to a consultation&hellip;

%p= "There name is: #{@user.profile.full_name}"

%p
  Visit
  %a{:href=>"#{APP_URL}/admin"}
    = "#{APP_URL}/admin"
  to reply to them.

%p
  Thanks,

  GP at Home
