= render 'notifier/header'

%h2 New invite request

%p
  A new patient has requested an invite.

%p
  They would like an
  %b= @plan_name
  plan.

%p Their details are below:

%p
  Email:
  %b= @email

%p
  Phone number:
  %b= @phone_number

%p
  Firstname:
  %b= @first_name
%p
  Lastname:
  %b= @last_name

Thanks,

GP at Home
