= render 'notifier/header'

%h2 Welcome to GP at Home!

%p
  We hope that you will find our service useful- our aim is to provide you with peace of mind and a convenient, efficient healthcare package. Remember that the package that you have signed up for includes
  %b= @user.group.plan.plan_credits.first.number_of_credits
  consultations per year but you can also top up with extra consults as needed. If you have any questions before you sign up, please feel free to contact us:
  %a{:href=>"mailto:#{ADMIN_EMAIL}"}
    = ADMIN_EMAIL

%p Once again, thank you for registering and we look forward to helping you in the future,

%p GP at Home
