- title('Consultations')

.row-fluid.dashboard-main
  .span8.main

    %h1 Consultations
    %p

    = render partial: 'layouts/flash', object: flash

    = render partial: 'shared/consultation_message'
    = render partial: 'shared/consultations', locals: { consultations: consultations_for_user }

  = render partial: 'shared/user_sidebar'
