- title('New Consultation')

.row-fluid.dashboard-main
  .span8.main

    %h1 New Consultation
    %p.intro-paragraph Please provide as much information as possible...

    = render :partial => 'layouts/flash', :object => flash

    .row-fluid
      .consultation-form.detail
        = form_for @consultation, :html => { :multipart => true } do |f|
          = render :partial => 'shared/error_messages', :object => @consultation
          - if current_user.group.users.dependents.any?
            = f.label 'Select user'
            = f.collection_select :user_id, User.dependents_and_self(current_user), :id, :full_name
          - else
            = hidden_field_tag 'consultation[user_id]', current_user.id
          = f.label :subject
          = f.text_field :subject
          = f.fields_for :messages do |m|
            = m.label :message
            = m.text_area :message
            = m.hidden_field :attachments
          = f.submit 'Send', :class => 'btn btn-primary btn-large'

        = render :partial => 'shared/attachments', :object => @assets

  = render partial: 'shared/user_sidebar'
