- title('Consultation')

.row-fluid.dashboard-main
  .span8.main

    %h1 Consultation

    = render :partial => 'layouts/flash', :object => flash

    %p.consultation-subject= @consultation.subject

    - if @consultation.closed?
      %p.alert.alert-error Consultation is now closed...
    - else
      = render 'messages/form', :admin_view => false
      .row-fuild
        %a.alert.alert-info.span10.new-message-waiting{:href => '#show_messages'}

    = render 'consultation_messages', :admin_view => false

  = render partial: 'shared/user_sidebar'

