/*
Very basic styles for changlog page
*/

nav, article, section, figure, figcaption { display: block; }

html, body, header, nav, article, section, figure, figcaption
p, h1, h2, h3, h4,
ul, li,
form, fieldset, input, textarea, label, button,
span, div { margin: 0; padding: 0; }

html { padding-top: 42px; }

body { font: 14px/1.5 "Lucida Sans", sans-serif; width: 960px; margin: 0 auto; color: #333; }

/* Typography */
h1 { font-size: 48px; line-height: 1; font-family: 'Helvetica'; }
h2 { font-size: 36px; line-height: 1.2; font-family: 'Helvetica'; }
h3 { font-size: 24px; line-height: 1.5; font-family: 'Helvetica'; }

p { margin-bottom: 21px; line-height: 1.5; }

a { color: #2CAFCA; text-decoration: none; }
a:hover { color: #238aa0; }

strong, b { font-weight: 700; }
em, i { font-style: italic; }

ul { margin: 0 0 21px 21px; }

hr {
  margin-bottom: 21px;
  border: 1px solid #f1f1f1;
}