- title('Account Users')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/account_nav_header'

    .row-fluid
      .span12
        %h2 Account Users
        %p Below is a list of other users of your account&hellip;

        %p
          You are currently on the
          %b= current_user.group.plan.name
          plan and can add a further
          %b= current_user.group_users_remaining?
          users to your account.

        - if current_user.group.plan.name == 'Family'
          %p
            When you click
            %b Add a new user
            below, you will be guided as to what type of account you wish to create.

        .row-fluid.account-members
        - current_user.group.users.each do |u|
          .span2.account-member
            = image_tag 'icons/person-icon.png'
            %p
              Name: #{ u.profile.first_name }
              %br
              Role: #{ u.role?.humanize }

        - if current_user.group_users_remaining? > 0
          = link_to 'Add a new user', new_user_invitation_path, :class => 'btn btn-primary btn-large view invite-member'

  = render partial: 'shared/user_sidebar'
