.row-fluid.intro

  .span6
    
    %h2 Change your password

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .clearfix
        = f.label :password, 'New password'
        .input
          = f.password_field :password
      .clearfix
        = f.label :password_confirmation, 'Confirm new password'
        .input
          = f.password_field :password_confirmation

      .form-actions= f.submit 'Change my password', :class => 'btn default btn-primary'
      
    = render :partial => 'devise/shared/links'
    