.row-fluid.intro

  .span6
  
    %h2 Forgot your password?
    %p No problem, just fill out the form below and you'll be away in no time!
 
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .clearfix
        = f.label :email
        .input
          = f.email_field :email
       
      .form-actions= f.submit 'Send me reset password instructions', :class => 'btn default btn-primary'
    = render :partial => 'devise/shared/links'