.modal.hide.fade.in.request-invite-modal
  .modal-header
    %a.close-modal{'data-dismiss' => 'modal'} x
    %h3 Request Invite
  .modal-body
    .flash
    .request-body
      %p
        You are requesting an invite to the
        %b.plan-name
        plan.
      = form_tag request_invite_path, :remote => true do
        = label_tag :email
        = text_field_tag :email
        = label_tag :phone_number
        = text_field_tag :phone_number
        = label_tag :first_name, 'First name'
        = text_field_tag :first_name
        = label_tag :last_name, 'Last name'
        = text_field_tag :last_name
        = hidden_field_tag :plan_name
        = submit_tag 'Request Invite', :class => 'btn btn-primary request-invite'
