.row-fluid.intro

  .span6

    %h2 Thank you!

    %p You have signed up successfully. However, we could not sign you in just yet because your account has not been approved by a GP.

    %p We'll send you an email in a little while with further instructions.

    %p= auto_link 'If you don\'t receive an email please contact: help@gpathome.com&hellip;'