- title('Sign Up')

- body_class 'sign-up'

.row-fluid.intro

  .span6

    %h2 Sign up

    = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'sign-up-form' } do |f|

      - unless resource.errors.empty?
        .alert.alert-error.error
          = devise_error_messages!

      = f.fields_for :profile do |p|

        = p.label :first_name
        = p.text_field :first_name

        = p.label :last_name
        = p.text_field :last_name

        = f.label :email
        = f.email_field :email

        = f.label :password
        = f.password_field :password
        %p.help-block Between 8 and 12 characters please, numbers etc are even better!

        = f.label :password_confirmation
        = f.password_field :password_confirmation

        %hr

        = p.label :phone_1, 'Phone number'
        = p.text_field :phone_1

        = p.label :date_of_birth
        = p.date_select :date_of_birth, :start_year => Time.now.year, :end_year => Time.now.year - 100, :include_blank => true, :order => [:day, :month, :year]

        %hr

        %h3 Your Address

        = p.label :property_number, 'Property Number'
        = p.text_field :property_number, :class => 'property-number'

        = p.label :street_address, 'Address Line 1'
        = p.text_field :street_address

        = p.label :extended_address, 'Address Line 2'
        = p.text_field :extended_address

        = p.label :locality, 'City'
        = p.text_field :locality

        = p.label :region, 'County'
        = p.text_field :region

        = p.label :postal_code, 'Postcode'
        = p.text_field :postal_code

        %hr

        

        .accept-terms
          = f.check_box :accepted_terms
          %label{:for=>'user_accepted_terms'}
            I agree to the GP at Home
            %a{:href=>"#",:class=>"read-terms"} Terms and Conditions

        = f.hidden_field :plan, :value => @plan_id

      .form-actions= f.submit 'Sign up', :class => 'btn btn-primary btn-large'

    = render :partial => 'devise/shared/links'

  .span6.plan-overview

    %h2 Great!
    %p
      You chose the
       %b= @plan.name
      plan.
    %p To re-cap, this gives you the following:

    %p.plan-description= @plan.description
