- title('Payment')

- body_class 'payments'

- content_for :head_javascripts do
  = javascript_tag do
    = raw render :partial => 'registrations/payment_form', :formats => [:js], :object => @payment

.row-fluid.intro

  .span6

    %h2
      Payment

    %p.intro-paragraph Thank you, you have signed up successfully.

    %p We now need to take payment details. Once you have paid for your account we will send you another email with further instructions.


.row-fluid.plan-payment

  .span6

    #recurly-form
      %p Loading payment form...

  .span6.plan-overview
    
    %h2 Great!
    %p
      You chose the 
      %b= @plan.name
      plan.
    %p To re-cap, this gives you the following:
      
    %p.plan-description= @plan.description

    %p.price
      = number_to_currency(@plan.price, :unit => '&pound;')
      per month
    
    .group
      = @online_consultations
      x
      = image_tag 'icons/steth-icon.png'