= form_for @assets do |image|

  - if current_user.is_admin_or_gp?
    = image.hidden_field :attachable_type, :value => 'Consultation'
    = image.hidden_field :attachable_id, :value => @consultation.id
  - else
    = image.hidden_field :attachable_type, :value => 'Message'
    = image.hidden_field :attachable_id, :value => @message.id

  .file-attach-button
    %a{href:"#attach-files", class: 'btn btn-large attach-files'}
      Add Attachment
      = image.file_field :attachment

  %script{id:'template-upload', type:'text/x-tmpl'}
    .upload
      Uploading...
      .progress.progress-striped.active.progress-info
        .bar{style:'width: 0%'}

  .attachments
    - if current_user.is_admin_or_gp?
      - @consultation.assets.each do |asset|
        = render 'assets/asset', asset: asset
