- if can_create_consultation? == false
  %p.top-up-credits.alert.alert-message
    You have used up all your online credits, #{ link_to 'click here', user_credits_path } to top up.

- elsif current_user.medical_profile.read_and_understood == false
  %p.alert.alert-success
    = link_to 'Please click here', edit_medical_profile_path(current_user.medical_profile)
    to confirm you have read and updated your medical profile.

- else
  = link_to 'New Consultation', new_consultation_path, :class => 'new-consultation btn btn-primary btn-large view'
