- if consultations.any?
  %p.intro-paragraph Below is a list of recent consultations with your GP&hellip;
  - consultations.reverse.each do |consultation|
    .consultation.row-fluid{:class => mark_status(consultation)}
      .span2.small-doc
        = image_tag 'icons/small-doc-icon.png'
        %small Assigned to #{ assigned_to_who(consultation) }
      .span7.excerpt
        - if current_user.group.users.dependents
          %p
            Consultation on behalf of:
            %b= consultation.user.full_name
        %p
          Subject:
          %b= consultation.subject if consultation.subject
        %p= consultation.messages.last.message if consultation.messages.last
        %small From: #{ consultation.from? }
      .span3
        = link_to view_or_reply_text(consultation), consultation, :class => 'btn view'
- else
  %p.intro-paragraph No current consultations&hellip; Please click 'New Consultation'
