.span4.sidebar
  .profile-image
    = image_tag 'icons/person-icon.png'
    %p
      %b= current_user.profile.full_name
      %br
        Currently on the
        %b= current_user.group.plan.name
        plan
        %small.edit-profile= link_to 'Edit profile', edit_profile_path(current_user.profile)

  - if @consultation && @consultation.assets.any?
    .gp-attachments
      %h3 GP attachments
      %p Attachments from the GPs

      .attachments
        - @consultation.assets.each do |asset|
          = render 'assets/asset', asset: asset
