- title('Account')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/account_nav_header'

    %h2 Change Password
    %p Here you can change your password...

    = render :partial => 'layouts/flash', :object => flash

    = form_for @user, :url => edit_user_account_password_path, :html => { :class => 'form-horizontal' } do |f|

      = render :partial => 'shared/error_messages', :object => @user

      = f.hidden_field :reset_password_token

      .control-group
        .control-label
          = f.label :current_password
        .controls
          = f.password_field :current_password

      .control-group
        .control-label
          = f.label :password, "New password"
        .controls
          = f.password_field :password

      .control-group
        .control-label
          = f.label :password_confirmation, "Confirm password"
        .controls
          = f.password_field :password_confirmation

      .form-actions
        = f.submit "Change Password", :class => 'btn btn-primary'

  = render partial: 'shared/user_sidebar'
