- title("Credits")

.row-fluid.dashboard-main
  .span8.main.credits-page

    %h1 Credits
    %p.intro-paragraph Here you can top up your credits&hellip;

    = render :partial => 'layouts/flash', :object => flash

    %h4 Credit Type

    .total-summary
      %p.credit-name= @credits.first.name
      %p.credit-price
        &pound;
        = number_to_currency(@credits.first.price, :unit => '')

    %p.alert Unfortunately this feature is currently being developed. Please check back soon.

  = render partial: 'shared/user_sidebar'
