- @plans.each do |plan|
  %div{:class => "plan #{plan.name.downcase} #{plan.status?.downcase unless plan.status.nil?}", data: {plan_name: plan.name }}
    %h3= plan.name
    .description
      = md(plan.description)
    .base-details
      = current_or_upgrade(plan)
