#upgrade_plan.modal.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Upgrade Plan
  .modal-body
    %p Please note that you will be billed once you upgrade your plan. This cannot be reversed.
    = form_tag switch_plan_path do
      = hidden_field_tag :upgrade_to
      = submit_tag 'Upgrade Plan', { class: 'btn btn-primary btn-upgrade' }
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
