- body_class 'home'

.hero-unit

  = md @page.body

  - if SHOW_MEMBERSHIP_PLANS
    = link_to 'Sign Up', membership_plans_path, :class => 'btn btn-primary btn-large'
  - if Page.find_by_slug('take_a_tour').visible
    = link_to 'Take a tour', pages_path(slug: 'take_a_tour')