- body_class 'membership-plans'

.row-fluid.intro
  .span12
    %h1 Membership Plans
    %p.intro-paragraph GP at Home offers a range of membership plans at competitive prices.
.row-fluid.pricing
  = render :partial => 'plan_info', :locals => { :plans => @plans, :user => @user }

- if SHOW_ADDITIONAL

  .row-fluid.additional-charges
    .span12
      %h3 Additional information
      .row-fluid
        .span6
          %p
            You may also wish to gift membership to a Gap Year student.
            Prescription and referral charges may also apply.
        .span6
          %p
            If your medical problem cannot be dealt with online, we will see you at 37 Devonshire Street.

= render 'static/switch_plan'
= render 'registrations/request_invite'
