- flash.delete :timedout # Dirty Devise workaround on session expire.
.row-fluid
  .sign-in  
    %h2 Login
    = render :partial => 'layouts/flash', :object => flash
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.label :email
      = f.email_field :email
      = f.label :password
      = f.password_field :password
      .actions= f.submit "Login", :class => 'btn btn-primary'
    
    = render :partial => "devise/shared/links"