- title 'Docustore'

.row-fluid.dashboard-main
  .span8.main

    %h1 Docustore
    %p Here you can store important documents...

    = render :partial => 'layouts/flash', :object => flash

    = form_for @assets do |image|

      = image.hidden_field :attachable_type, :value => 'Docustore'
      = image.hidden_field :attachable_id, :value => @docustore.id

      .dropzone
        %p Click the button below or drag and drop to upload

        .file-attach-button
          %a{href:"#attach-files", class: 'btn btn-large attach-files'}
            Upload File
            = image.file_field :attachment

      %script{id:'template-upload', type:'text/x-tmpl'}
        .upload
          Uploading...
          .progress.progress-striped.active.progress-info
            .bar{style:'width: 0%'}

      .attachments
        %h3 Uploads
        - @docustore.assets.each do |attachment|
          - if attachment.persisted?
            = render partial: "assets/asset", object: attachment

  = render partial: 'shared/user_sidebar'
