// Home page

.hero-unit {
  height: 510px;
  margin-top: $baseLineHeight * 1.5;
  padding: $baseLineHeight * 2 $baseLineHeight;
  background: url(/custom_assets/frontpage-image.jpg) no-repeat;
  @include border-radius(6px);
  @include background-size(100%);

  h1 {
    color: #444;
    margin-bottom: $baseLineHeight / 2;
    font-size: $baseLineHeight * 2;
  }

  p {
    font-size: 14px;
    margin-bottom: $baseLineHeight;
    line-height: $baseLineHeight;
    max-width: 50%;
  }

  .btn {
    width: 100px;
    margin-bottom: $baseLineHeight;
    clear: both;
    font-size: 18px;
    display: block;
  }
  em {
    font-size: 14px;
  }
}

h3 {
  margin-bottom: 11px;
}

.affiliates {
  margin-bottom: 21px;
  margin-top: 21px;
  text-align: center;
}

.affiliate-title {
  text-align: center;
}
