// Pricing page

$pricingWidth: 80%;

.membership-plans-page {
  .intro-paragraph {
    margin-bottom: $baseLineHeight * 2;
  }
}

.pricing {
  width: $pricingWidth;
  margin: 0 auto 42px;
  padding-left: 2.5%;
}

/*

*/

.plan {
  background: #f1f1f1;
  @include border-radius(5px);
  @include background(linear-gradient(0deg, #e8e8e8, #f9f9f9));
  @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 33.33% - 4;
  min-height: 240px;
  padding: 2%;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  margin: 0 1%;

  &.promoted {
    @include background(linear-gradient(0deg, #e2e2e2, #f9f9f9));
    @include box-shadow(0 3px 6px rgba(0,0,0,0.2));
    min-height: 330px;
    top: -10px;
  }

  .description {
    margin-bottom: $baseLineHeight*2;
  }

  h3 {
    margin: 21px 0;
    font-size: 24px;
  }

  ul {
    margin: 0 0 $baseLineHeight;
  }
}

.hide-form-etc {
  .request-body {
    display: none;
  }
}

.request-body .btn {
  margin-top: $baseLineHeight;
}

.price {
  font-size: 21px;
  margin-bottom: 0;
}

.price + small {
  margin-bottom: $baseLineHeight * 2;
  display: block;
  color: $grey;
}

.plan-description {
  margin-bottom: $baseLineHeight;
}

.plan-outline {
  li {
    list-style: none;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
  }
}

.additional-charges {
  color: #777;
  h3 {
    color: #777;
  }
}

.btn-upgrade {
  margin: 0 auto;
  display: block;
  width: 120px;
}
