// Tour Page

.intro {
	margin-top: 21px;
	h1 {
		margin-bottom: 10px;
		font-size: 36px;
	}
}

.intro-paragraph {
	font-size: 18px;
	color: #777;
}

h3 + .intro-paragraph {
	font-size: 14px;
	color: #555;
}

.sub-info {
	margin-bottom: 42px;
}