= render 'notifier/header'

%h2 Thank you!

%p Your password has now been set. Your account will now be checked by a GP.

%p You will then receive an email very soon with further instructions.

%p
  If you do not receive an email please contact:
  %a{:href=>"mailto:#{ADMIN_EMAIL}"}
    = ADMIN_EMAIL

%p Thanks,

%p GP at Home


