.row-fluid.intro

  .span6

    %h2 Set your password

    %p Before you log in you need to set your password.

    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|

      - unless resource.errors.empty?
        .alert.alert-error.error
          = devise_error_messages!

      = f.hidden_field :invitation_token

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation
      = f.password_field :password_confirmation

      .form-actions= f.submit 'Set my password', :class => 'btn default btn-primary'
