- title('Add User')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/account_nav_header'

    .row-fluid
      .span12
        %h2 Add User
        %p Here you invite / add new users to your account.

        = render :partial => 'layouts/flash', :object => flash

        = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' } do |f|

          - unless resource.errors.empty?
            .alert.alert-error.error
              = devise_error_messages!

          - if current_user.group.plan.name == 'Family'
            .control-group
              = f.label :role, 'Type of user', :class => 'control-label'
              .controls
                %label{:class=>'radio'}
                  %b Authorised User
                  \- An over 18. Has their own login and carries out consultations on behalf of a child
                  = f.radio_button :role, 5
                %label{:class=>'radio'}
                  %b Responsible User
                  \- For example - a teen over 14. Has their own login details and is a totally private account
                  = f.radio_button :role, 1
                %label{:class=>'radio'}
                  %b Dependent
                  \- Usually a child. Has their own medical profile and consultations but no login
                  = f.radio_button :role, 6

          .control-group
            = f.label :email, :class => 'control-label'
            .controls
              = f.text_field :email

          = f.fields_for :profile do |p|

            .control-group
              = p.label :first_name, :class => 'control-label'
              .controls
                = p.text_field :first_name

            .control-group
              = p.label :last_name, :class => 'control-label'
              .controls
                = p.text_field :last_name

            .control-group
              = p.label :phone_1, 'Phone', :class => 'control-label'
              .controls
                = p.text_field :phone_1

            .control-group
              = p.label :date_of_birth, :class => 'control-label'
              .controls
                = p.date_select :date_of_birth, :start_year => Time.now.year, :end_year => Time.now.year - 100, :include_blank => true, :order => [:day, :month, :year]

            .control-group
              %label.control-label{:for=>'user_has_same_address'} User has same address
              .controls
                = check_box_tag 'user_has_same_address', 'yes', true

            .address-details
              = render partial: 'profiles/address_fields', :locals => { :p => p }


          = f.hidden_field :accepted_terms, :value => '1'

          = f.hidden_field :invited_by_id, :value => current_user.id

          .form-actions
            = f.submit 'Send Invite', :class => 'btn btn-primary btn-large'
            = link_to 'Cancel', user_account_group_path, :class => 'btn'

  = render partial: 'shared/user_sidebar'
