.admin-asset-actions
  = link_to 'Tag', edit_asset_path(asset), :remote => true, :class => 'edit-attachment'
  = link_to 'View', asset.url, :class => "view-attachment #{asset.file_type}-attachment"
  = link_to 'Delete', asset_path(asset), :remote => true, :method => :delete, :class => 'delete-attachment', :confirm => 'Are you sure you want to delete this attachment?'