.attachment{data: { id: asset.id }}
  - if current_user.is_admin_or_gp?
    = render "assets/admin_asset_actions", asset: asset

  = link_to asset.url, class: "view-attachment #{asset.file_type}-attachment", target: '_blank' do
    = render "assets/#{asset.file_type}", asset: asset, enlargement_allowed: false

    - unless current_user.is_admin_or_gp?
      = link_to 'X', asset_path(asset), remote: true, method: :delete, class: 'remove-attachment'
