%div{class: "file #{asset.doc_type}"}
  - if enlargement_allowed
    = link_to asset.url(:original), title: asset.attachment_file_name do
      .file-name= asset.attachment_file_name
  - else
    .file-name= truncate(asset.attachment_file_name, :length => 18)
