.tags_modal.modal
  .modal-header
    %h3 Tag File Attachment
  .modal-body
    %p Tags are seperated with commas. Use quotes for more than one word.
    = form_for @asset, remote: true do |f|
      = f.text_field :tag_list, placeholder: "lfts, bloods, 'medical report'"
      = f.submit 'Edit Tags'
  .modal-footer
    %a.btn{'data-dismiss' => 'modal', :href => '#'} Close