$('[data-id="<%= @asset.id %>"]')
  .fadeOut('slow', function() {
    $(this).remove();                                                 // remove the actual element
    $('#new_asset .attachments').trigger('update_attached_assets');   // update the array of attachment ids
  });