= form_for [:admin, @plan], :html => { :class => 'new-plan-form' } do |f|

  = render :partial => 'shared/error_messages', :object => @plan

  %fieldset.inputs
    = f.label :name
    = f.text_field :name, { disabled: true }

    = f.label :description
    = f.text_area :description

    = f.label :price, 'Price (without the pound sign)'
    = f.text_field :price

    = f.label :max_users, 'Maximum users allowed for this plan'
    = f.text_field :max_users

    = f.fields_for :plan_credits do |pc|
      = pc.label :number_of_credits, pc.object.credit_name.pluralize
      = pc.number_field :number_of_credits

    = f.label :status
    = f.select :status, Plan::STATUSES.invert, { :include_blank => true }

  %fieldset.buttons
    %ol
      %li.commit.button= f.submit
      %li.cancel= link_to 'Cancel', admin_plans_path
