.modal-header
  %a.close-modal{'data-dismiss' => 'modal'} x
  %h3 Site Feedback
.modal-body
  = form_for @feedback, :url => feedback_path, :remote => true do |f|
    = f.label :feedback, 'Please write your feedback of the site below...'
    = f.text_area :feedback, :rows => 10
    - if current_user.nil?
      = f.label :email, 'Contact email address'
      = f.text_field :email
    = f.hidden_field :url, :value => request.url
    = f.submit 'Send feedback', :class => 'btn btn-primary'
.modal-footer
  %a.btn{'data-dismiss' => 'modal', :href => '#'} Close