- title('Medical Profile')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/profile_nav_header'

    .row-fluid
      .span12
        %h2 Medical Profile
        %p Here you can tell us a little about yourself...

        %p Looking to change your password? No problem, #{ link_to 'click here', edit_user_account_password_path }.

        = render :partial => 'layouts/flash', :object => flash

        .profile-form
          = form_for @medical_profile, :url => edit_medical_profile_path(@medical_profile), :html => { :class => 'form-horizontal' } do |mp|

            = render :partial => 'shared/error_messages', :object => @medical_profile

            - if current_user.show_dependent_consultations? && current_user.group.users.dependents.any?
              .control-group
                = mp.label 'Select profile', :class => 'control-label'
                .controls
                  = mp.select :user, current_user.group.users.dependents_and_self(current_user).collect { |u| [ u.profile.full_name, u.medical_profile.id ] }, { :selected => @medical_profile.id }
                  %span.help-block Select which profile you wish to edit.

            - if SHOW_INSURANCE

              %hr
              .control-group
                = mp.label :insurance_company, 'Insurance company', :class => 'control-label'
                .controls
                  = mp.text_field :insurance_company
                  %p.help-block Your medical insurance company

              .control-group
                = mp.label :policy_number, 'Policy number', :class => 'control-label'
                .controls
                  = mp.text_field :policy_number
                  %p.help-block Your medical insurance policy number

              .control-group
                = mp.label :london_insurance, 'London insurance?', :class => 'control-label'
                .controls
                  = mp.select :london_insurance, { 'Yes' => true, 'No' => false }, :include_blank => true
                  %p.help-block Does your medical insurance cover London?

            %hr

            .control-group
              = mp.label :medical_history, 'Past medical history', :class => 'control-label'
              .controls
                = mp.text_area :medical_history
                %p.help-block Operations with dates, serious/chronic illnesses&hellip;

            .control-group
              = mp.label :family_history, :class => 'control-label'
              .controls
                = mp.text_area :family_history
                %p.help-block Heart disease, diabetes, cancer, high BP etc

            .control-group
              = mp.label :regular_medication, 'Drug history', :class => 'control-label'
              .controls
                = mp.text_area :regular_medication
                %p.help-block Including over the counter medication

            .control-group
              = mp.label :allergies, :class => 'control-label'
              .controls
                = mp.text_area :allergies

            .control-group
              = mp.label :smoking, 'Do you smoke?', :class => 'control-label'
              .controls
                = mp.select :smoking, { 'Yes' => true, 'No' => false }, :include_blank => true

            .control-group
              = mp.label :alcohol_units, 'Alcohol (units)', :class => 'control-label'
              .controls
                = mp.select :alcohol_units, (1..50).to_a, :include_blank => true
                %p.help-block Approximately, how many units of alcohol do you drink per week?

            .control-group
              = mp.label :exercise, :class => 'control-label'
              .controls
                = mp.text_area :exercise

            .control-group
              = mp.label :height, 'Height (cm)', :class => 'control-label'
              .controls
                = mp.select :height, (30..210).to_a, :include_blank => true

            .control-group
              = mp.label :weight, 'Weight (kg)', :class => 'control-label'
              .controls
                = mp.select :weight, (1..150).to_a, :include_blank => true

            .control-group
              .controls
                %hr
                = mp.label :read_and_understood, class: 'checkbox' do
                  The information provided is correct to the best of my knowledge
                  = mp.check_box :read_and_understood
                %p.help-block You must confirm you have read the above before being able to start a consultation

            .form-actions
              = mp.submit 'Update Medical Profile', :class => 'btn btn-primary'

  = render partial: 'shared/user_sidebar'
