
%active {
  color: $grey;
  background: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

$links: dashboard, consultations, profiles, accounts, docustore;

@each $link in $links {
  .#{$link} header .nav-tabs .#{$link} a {
    @extend %active;
  }
}

.medical_profiles .main-body .nav-tabs .medical_profiles a {
  @extend %active;
}

.profiles .main-body .nav-tabs .profiles a {
  @extend %active;
}

.passwords .nav-tabs .accounts a,
.groups .nav-tabs .accounts a {
  @extend %active;
}

.medical_profiles header,
.profiles header {
  .nav-tabs .profiles a {
    @extend %active;
  }
}

.accounts .main-body .nav-tabs .plans a,
.passwords .main-body .nav-tabs .password a,
.groups .main-body .nav-tabs .account_users a {
  @extend %active;
}

// global navigation

$global_nav: take_a_tour, our_service, membership_plans, faqs, about_us, contact_us;

@each $link in $global_nav {
  .#{$link} .nav-tabs a[href^="/#{$link}"] {
    @extend %active;
  }
}
