// Account page CSS

.current-plan {
	.btn {
		margin: $baseLineHeight * 2 auto;
		width: 125px;
		display: block;
	}
}

.account-members {
	margin: $baseLineHeight;
}

.account-member {
	text-align: center;
}

.invite-member {
  clear: both;
  display: block;
  width: 175px;
  margin: $baseLineHeight auto;
}