// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "compass";
@import "active_admin/mixins";
@import "active_admin/base";

// @import "bootstrap";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.active_admin {

  .new_message {
    padding-bottom: 34px;
  }

  // Modal
  .modal {
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 1500;
    overflow: auto;
    background: #fff;
    @include border-radius(6px);
    @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.5));
    background-clip: padding-box;
    width: 560px;
    margin-left: -270px;
    .modal-header {
      border-bottom: 1px solid #eeeeee;
      padding: 10px;
      h3 {
        margin-bottom: 0;
      }
    }
    .modal-body {
      min-height: 30px;
      padding: 10px;
    }
    .modal-footer {
      padding: 10px;
      background: #f5f5f5;
      border-top: 1px solid #ddd;
      @include border-radius(0 0 6px 6px);
      @include box-shadow(inset 0 1px 0 white);
      text-align: right;
    }
    .close-modal {
      float: right;
    }
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 1400;
  }

  #asset_tag_list {
    font-size: 12px;
  }


  // Reply to message

  .message {
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 4px #dddddd);
    font-size: 14px;
    background: #f4f4f4;
    margin-bottom: 42px;
    position: relative;
    padding: 10px 10px 10px;

    label {
      margin-bottom: 10px;
      display: block;
    }

    small {
      bottom: 15px;
      right: 15px;
      position: absolute;
      font-size: 12px;
    }

    .enlarged {
      cursor: pointer;
    }

    textarea {
      @include box-sizing(border-box);
      width: 100%;
      margin-bottom: 10px;
      height: 225px;
    }

    .detail {
      min-height: 75px;
      .row-fluid {
        min-height: $base-line-height;
      }
    }

    form input[type="submit"] {
      float: right;
    }

  }

  .span8 {
    float: left;
    width: 65.95745%;
  }

  .span4 {
    float: right;
    width: 31.91489%;
  }

  // Attachments

  // attachments styling from the main app
  @import "attachments";

  .file-attach-button {
    margin: 21px auto;
    display: block;
    width: 150px;
  }

  .attach-files {
    @include border-radius(200px);
    @include background(linear-gradient(top, #838a90, #414549));
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset);
    line-height: 12px;
    text-shadow: black 0 1px 0;
    border: solid 1px #484e53;
    border-top-color: #616a71;
    padding: 6px 0 7px;
    text-decoration: none !important;
    color: #efefef !important;
    font-size: 14px;
    text-align: center;
  }

  .file-attach-button {
    .attach-files {
      width: 148px;
    }
  }

  .attributes_table {
    .attachment {
      &:hover .admin-asset-actions {
        display: block;
      }
      &:hover .file, &:hover img {
        @include opacity(.2);
        @include filter(blur(2px));
      }
    }
    .attachments {
      .attachment {
        margin: 0 10px;
        height: 120px
      }
    }
  }

  .attach-files:active {
    @include background(linear-gradient(top, #71797f, #35383b));
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white);
  }

  // Plans
  .new-plan-form, .credit-user-form, .payments-user-form {
    fieldset {
      padding: 20px 10px 10px;
    }
    label {
      margin-top: 5px;
      color: #5E6469;
      width: 20%;
      float: left;
      font-weight: bold;
      font-size: 1em;
      display: block;
    }
  }

  .new-plan-form, .credit-user-form {
     input, textarea, select {
      display: block;
      margin-bottom: 21px;
    }
  }

  // User - Payments
  .payments-user-form {
    .date-select {
      clear: both;
      margin-bottom: $base-line-height;
    }
    label { margin-bottom: $base-line-height / 2; width: 100%; }
    label + .date-select select {
      display: inline-block;
      margin-right: 20px;
    }
    label + input[type="text"] {
      display: block;
      width: 200px;
      clear: both;
      margin-bottom: $base-line-height;
    }
    input[type="submit"] {
      margin-top: $base-line-height;
      margin-bottom: $base-line-height;
      float: right;
    }

  }

}

.wmd-button-bar
{
  width: 100%;
  background-color: Silver;
}

.wmd-input
{
  height: 300px;
  width: 100%;
  background-color: Gainsboro;
  border: 1px solid DarkGray;
}

.wmd-preview
{
  background-color: #c0e0ff;
}

.wmd-button-row
{
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.wmd-spacer
{
  width: 1px;
  height: 20px;
  margin-left: 14px;

  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
  background-color: Black;
}

.wmd-prompt-dialog
{
  border: 1px solid #999999;
  background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

