// Attachments
.remove-attachment {
  background: rgba(0,0,0,0.6);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 9px 10px 8px;
  color: #fff;
  bottom: 0;
  right: 0;
  position: absolute;
  &:hover {
    color: #ccc;
  }
}


.docustore {
  .attachments {
    h3 {
      margin-bottom: $base-line-height;
    }
  }
}

.modal-enlarged-image {
  top: 40px;
  width: 620px;
  margin: 0 0 0 -310px;
  max-height: 560px;
  .modal-body {
    text-align: center;
    height: 400px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.attachments {
  clear: both;
  display: table;
  content: '';

  .consultations.show .sidebar & {
    width: 80%;
    margin: 0 auto;
    .remove-attachment {
      display: none;
    }
    .attachment {
      margin: 0 5% 21px;
    }
  }

  .attachment {
    position: relative;
    float: left;
    margin-right: 10px;

    .file {
      width: 100px;
      height: 100px;
      position: relative;
    }

    .file-name {
      bottom: 7px;
      position: absolute;
      text-align: center;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #333;
    }

    // background images for different files
    .pdf {
      background: url('icons/pdf-logo-small.png') no-repeat center 40%;
    }

    .msword {
      background: url('icons/msword-logo-small.png') no-repeat center 40%;
    }

    .admin-asset-actions {
      position: relative;
      z-index: 10;
      display: none;
      a {
        margin: 0 auto;
        position: absolute;
        z-index: 10;
        top: 10px;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 5px rgba(255,255,255,0.8);
      }
      .view-attachment {
        top: 36px;
      }
      .delete-attachment {
        top: 64px;
      }
    }
  }
}

.file-attach-button {
  position: relative;
  width: 150px;
  overflow: hidden;
  cursor: pointer;
  .attach-files {
    display: inline-block;
    width: 120px;
    input {
      @include opacity(0);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 40px;
    }
  }
}

.upload {
  clear: both;
  margin-bottom: 21px;
}
