// Place all the styles related to the consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.consultation-form {
  margin-top: $baseLineHeight;
  .new_asset {
    margin: 0;
    .attach-files {
      margin-bottom: $baseLineHeight;
    }
  }
}

#new_consultation {
  margin: 0;
  //padding-bottom: $baseLineHeight * 2;
  label {
    padding: 0;
    margin: 0 0 5px 0;
    display: block;
    text-align: left;
  }
  textarea, input[type="text"] {
    margin-bottom: 10px;
  }
  textarea {
    height: 250px;
  }
  .btn {
    float: right;
    display: block;
  }
}

.consultation-subject {
  font-size: 18px;
  margin-bottom: 21px;
}

.consultation-form small {
  float: left;
  display: inline;
}

.consultation {
  @include border-radius(10px);
  .btn {
    margin: 0 auto;
    display: block;
    width: 55%;
  }
  &.unread {
    background: #D6E9C6;
    border: 1px solid #D6E9C6;
    padding: $baseLineHeight 0;
  }
  &.closed {
    background: #F2DEDE;
    border: 1px solid #EED3D7;
    padding: $baseLineHeight 0;
  }
}

.new-message-waiting {
  text-align: center;
  margin-bottom: $baseLineHeight * 2;
  display: none;
}

.message .new_asset .attach-files {
  float: left;
  margin-bottom: $baseLineHeight;
}

.enlarged {
  cursor: pointer;
}
