// Recurly Overrides for credits page

.credits-page {
  .recurly .contact_info,
  .recurly .billing_info,
  .recurly .accept_tos {
    position: relative;
    overflow: hidden;
    zoom: 1;
    width: 75%;
  }

  .total-summary {
    clear: both;
    display: block;
    height: 42px;
    margin-bottom: 21px;
    width: 58%;
    padding-top: 10px;
    .credit-name {
      float: left;
      font-size: 18px
    }
    .credit-price {
      float: right;
      font-size: 18px;
    }
  }
}