// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Dashboard */

// Sidebar styles
@import "sidebar";

.main {
	h1 {
		padding-top: 21px;
	}
	h3 {
		font-size: 24px;
		color: #555;
		margin-bottom: 0;
	}
}

.consultation {
	margin-top: 42px;
	.small-doc small {
		display: block;
		margin-top: 10px;
		text-align: center;
	}
	.excerpt small {
		color: lighten($grey, 20%);
		font-size: 13px;
	}
}

.new-consultation {
	font-size: 18px;
	margin: 42px auto;
	display: block;
	width: 150px;
	text-align: center;
}

.small-doc {
	color: lighten($grey, 20%);
	font-size: 13px;
	img {
		margin: 0 auto; display: block;
		opacity: .6;
	}
}

.person {
	margin: 0 auto;
	display: block; 
}

.detail {
	@include box-shadow(0 2px 5px rgba(0,0,0,0.2));
	@include border-radius(10px);
	background: #f1f1f1;
	@include background(linear-gradient(#fcfcfc, #e7e7e7));
	border: 1px solid #e2e2e2;
	padding: 10px;
	p {
	    font-size: 16px;
	    color: #555;
	}
	small {
	    float: right;
	    font-size: 12px;
	}
}

.excerpt {
	h4 + p {
		color: lighten($grey, 20%);
	}
}

.detail.to {
	position: relative;
	left: 25px;
}

.home-visit-credits {
	.credit {
		text-align: center;
	}
	.credits {
		text-align: center;
	}
}

.top-up-credits {
	margin: ($baseLineHeight * 2) 0;
	text-align: center;
	font-size: $baseFontSize + 2;
}