// Docustore styles

%dropzone {
  @include border-radius(4px);
  @include box-sizing(border-box);
  border: 5px dashed $lightGrey;
  width: 100%;
  text-align: center;
  padding: $baseLineHeight * 1.5 0 $baseLineHeight * 2;
  margin-bottom: $baseLineHeight;
}

.dropzone {
  @extend %dropzone;
  p {
    font-size: 16px;
    color: $grey;
  }
  .file-attach-button {
    margin: 0 auto;
  }
}
