// Feedback modal style overrides

.feedback {
	background-color: darken($baseColor, 5%);
	@include background-image(linear-gradient(lighten($baseColor, 10%), darken($baseColor, 5%)));
	@include single-transition(all, .1s, ease-in-out);
	@include border-radius(0 0 5px 5px);
	@include box-shadow(0 0 3px rgba(0,0,0,0.2));
	border-top-color: lighten($baseColor, 5%);
	border-left-color: $baseColor;
	border-right-color: $baseColor;
	border-bottom-color: darken($baseColor, 10%);
	color: #fff;
	text-shadow: 0 -1px 0 darken($baseColor, 20%);
	width: 100px;
	padding: 30px 10px 7px;
	text-align: center;
	font-size: 16px;
	position: relative;
	&:hover {
		padding: 40px 10px 7px;
		top: 5px;
		color: #fff;
	}
}

.modal.fade.in {
	top: 45%;
}

.feedback-modal {
	max-height: 600px;
	label {
		font-size: 16px;
	}
	textarea {
		width: 100%;
		@include box-sizing(border-box);
	}
	.btn-primary {
		margin: 21px auto 0;
		font-size: 14px;
		display: block;
		padding: .5em 1em .6em;
		width: 150px;
	}
}

.modal {
  .modal-header {
    background: $lightGrey;
    @include border-radius(6px 6px 0 0);
    a.close-modal {
      float: right;
      color: #555;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .modal-footer {
    background: $lightGrey;
  }
  h3 {
    margin-bottom: 0;
    text-shadow: 0 1px 0 #fff;
  }
}
