// Form overrides

button, input, textarea {
  font-family: inherit;
}

.help-block {
  color: lighten($grey, 20%);
  font-size: 13px;
  @include transition(all .2s ease-in-out);
}

input:focus + .help-block, textarea:focus + .help-block, select:focus ~ .help-block {
  color: $darkGrey;
}

select { width: auto; padding: 0 40px; margin-right: 10px; }

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  color: #B94A48;
  border-color: #EE5F5B;
}

.field_with_errors input:focus {
  @include box-shadow(0 0 7px #EE5F5B);
}

.btn-primary {
  background-color: darken($baseColor, 5%);
  @include background-image(linear-gradient(lighten($baseColor, 10%), darken($baseColor, 5%)));
  border-top-color: lighten($baseColor, 5%);
  border-left-color: $baseColor;
  border-right-color: $baseColor;
  border-bottom-color: darken($baseColor, 10%);
}

.btn-primary:hover, .btn-primary:active {
  background-position: 0 -15px;
  background-color: darken($baseColor, 5%);
}

.btn-primary:active {
  border-bottom-color: lighten($baseColor, 5%);
  border-left-color: $baseColor;
  border-right-color: $baseColor;
  border-top-color: darken($baseColor, 10%);
}

input:focus, textarea:focus {
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.075), 0 0 7px transparentize($baseColor, .5) !important;
  border-color: lighten($baseColor, 20%);
}

textarea, input[type="text"], input[type="email"] {
  *width: 98%;
  width: 100%;
  @include box-sizing(border-box);
}

input[type="text"], input[type="email"] {
  height: 2.5em;
}

input[type="password"] {
  font-family: Arial;
}

.alert-error {
  strong {
    padding-top: 10px;
    display: block;
  }
  ul {
    margin: 10px 0 10px;
  }
}

.sign-up-form .help-block {
  margin-bottom: $baseLineHeight;
  margin-top: -5px;
}

.accept-terms {
  height: $baseLineHeight * 2;
  input[type="checkbox"] {
    float: left;
    margin-right: $baseLineHeight / 2;
    position: relative;
    top: 2px;
  }
  label {
    float: left;
  }
}

.payment-details {
  clear: both;
  margin: $baseLineHeight 0;
}

.form-actions .btn + .btn {
  float: right;
}

input[type="radio"] {
  margin-top: -($baseLineHeight - 5);
}

// inviting a new user
.address-details {
  display: none;
}

// phone number field
input[id*="phone_1"] {
  width: 50%;
}
