body {
  background: url('/assets/bg-92.png') repeat-x;
  padding: 0 $baseLineHeight*2.5 $baseLineHeight*2;
}

.container-fluid {
  @include box-shadow(0 -15px 15px rgba(0,0,0,0.2));
  @include border-radius(0 0 10px 10px);
  max-width: 1050px;
  min-width: 900px;
  background: #fff;
  margin: 0 auto;
  padding-top: 21px;
  position: relative;
}

.logo {
  @include transition(all .2s ease-in-out);
  display: block;
  opacity: 1;
  &:hover {
    opacity: .8;
  }
}

header .nav {
  float: right;
  margin: 73px 0 0 0;
  font-size: 16px;
}

.actions {
  float: right;
  font-size: 16px;
  a {
    margin-left: 21px;
  }
}

aside {
  margin-top: 42px;
  border-top: 1px solid #e2e2e2;
}

footer {
  margin: $baseLineHeight 0;
  small {
    text-align: center;
    color: lighten($grey, 20%);
    display: block;
    font-size: 12px;
  }
}

aside {
  table {
    float: right;
    margin-left: $baseLineHeight * 2;
  }
  #trustwaveSealImage {
    float: right;
  }
  .gp-logo {
    margin-left: 21px;
    float: right;
  }
}

.twitter-logo img {
  @include transition(all .2s ease-in-out);
  opacity: 1;
  &:hover {
    opacity: .8;
  }
}

.links {
  padding-bottom: 21px;
  padding-top: 21px;
}

.side-image {
  @include border-radius(3px);
  @include box-shadow(0 1px 3px rgba(0,0,0,0.3));
}

.gp-profile {
  margin-bottom: $baseLineHeight * 2;
}

.payments-page .nav-tabs {
  visibility: hidden;
}
