// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  margin: 0 0 42px;
  .detail {
    min-height: 100px;
    position: relative;
    small {
      bottom: 15px;
      right: 15px;
      position: absolute;
    }
    form {
      margin: 0;
    }
  }
  .span2 {
    img {
      float: right;
    }
  }
  label, textarea {
    display: block;
    float: none;
    margin-bottom: 10px;
    text-align: left;
  }
  textarea {
    height: 100px;
  }
  .btn {
    float: right;
  }
}

.detail {
  img {
    @include box-shadow(0 2px 3px rgba(0,0,0,0.3));
  }
}
