@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
	     -o-box-shadow: $shadow;
	        box-shadow: $shadow;
}


@mixin filter($filter) {
  -webkit-box-filter: $filter;
     -moz-box-filter: $filter;
       -o-box-filter: $filter;
          box-filter: $filter;
}