.recurly {
  display: block;
  position: relative;
  margin-top: 0;
}

.recurly .plan {
  display: none;
}

// We're reusing the same plan overview as on the main sign up page

//  position: absolute;
//  right: 0;
//  width: 25%;
//  min-height: 0;
//  height: 130px;
//  top: 100px;
//  margin-right: 12.5%;
//}
//
//.recurly .plan .name {
//  margin: 21px 0;
//  font-size: 24px;
//  font-weight: bold;
//  text-align: center;
//}
//
//
//.recurly .plan .cost {
//  font-size: 21px;
//  clear: both;
//  text-align: center;
//}

.recurly .cost,
.recurly .discount {
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  margin-right: 100px;
}

.recurly .free_trial {
  clear: left;
  float: left;
  height: 22px;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 20px;
  font-style: italic;
}

.recurly .vat {
  height: 24px;
  display: none;
}
.recurly .vat.applicable {
  display: block;
}
.recurly .vat .title {
  font-weight: normal;
  float: left;
}
.recurly .vat .cost {
  float: right;
}
.recurly .coupon {
  clear: both;
  color: #333;
  position: relative;
}
.recurly .coupon .check {
  width: 26px;
  height: 26px;
  float: left;
  border-radius: 15px 15px 15px 15px;
  background: #70ccf8;
  border: 1px solid #0090c9;
  margin: 3px 0 1px 10px;
  background: #43bef9 url("recurly/coupon_check.png") no-repeat center center;
  background: url("recurly/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center, -moz-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center, -o-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
}
.recurly .coupon .check:hover {
  background: url("recurly/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center, -moz-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center, -o-linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  background: url("recurly/coupon_check.png") no-repeat center center linear-gradient(top, #71CDFA 0%, #43BEF9 50%, #00B1F6 50%, #71CEFB 100%);
  
}
.recurly .coupon .check:active {
  background: url("recurly/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #f0f0f0, #fff);
  background: url("recurly/coupon_check.png") no-repeat center center, -moz-linear-gradient(top, #f0f0f0, #fff);
  background: url("recurly/coupon_check.png") no-repeat center center, -o-linear-gradient(top, #f0f0f0, #fff);
  background: url("recurly/coupon_check.png") no-repeat center center linear-gradient(top, #f0f0f0, #fff);
  border: 1px solid #999;
}
.recurly .coupon.checking .check {
  background: #f0f0f0 url("recurly/coupon_checking.gif") no-repeat center center;
  border: 1px solid #999;
}
.recurly .coupon.invalid .coupon_code {
  border-color: #a55;
  background: #fee;
  color: #311;
}
.recurly .coupon .coupon_code .error {
  left: 300px;
}
.recurly .coupon .description {
  float: left;
  margin-left: 20px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}
.recurly .coupon .discount {
  float: right;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}

.recurly .error {
  display: none;
}

.recurly .server_errors {
  margin: 0 21px;
}

.recurly .server_errors .error {
  @extend .alert;
  @extend .alert-error;
}
.recurly .server_errors.any {
  @extend .alert;
  @extend .alert-error;
}


.recurly .contact_info,
.recurly .billing_info,
.recurly .accept_tos {
  position: relative;
  overflow: hidden;
  zoom: 1;
  width: 50%;
}

.plan-payment {
  .recurly .contact_info,
  .recurly .billing_info,
  .recurly .accept_tos {
    width: 100%;
  }
}

.billing-details {
  .recurly .contact_info,
  .recurly .billing_info,
  .recurly .accept_tos {
    width: 77%;
  }
}

.recurly .coupon .title,
.recurly .contact_info .title,
.recurly .billing_info .title,
.recurly .accept_tos .title {
  font-weight: bold;
  padding-bottom: 20px;
  color: #333;
}
.recurly .contact_info .credit_card,
.recurly .billing_info .credit_card,
.recurly .accept_tos .credit_card {
  clear: both;
}
.recurly .contact_info {
}
.recurly .accept_tos {
  overflow: visible;
}
.recurly .accept_tos input[type=checkbox] {
  display: inline;
  line-height: 34px;
  vertical-align: middle;
}
.recurly .accept_tos label {
  margin: 0 0 0 5px;
  display: inline;
  line-height: 34px;
  vertical-align: middle;
}
.recurly .accept_tos .field .error {
  display: block;
  position: static;
}
.recurly .field {
  display: inline;
  float: left;
  clear: left;
  height: 34px;
  margin-bottom: 20px;
  position: relative;
}

.recurly .address .field {
  width: 70%;
}

.recurly .field.email {
  width: 79%;
}

.recurly .field input[type=text] {
}
.recurly .field.company_name {
  margin-bottom: 0;
}
.recurly .field .error {
  min-width: 128px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 20px;
  z-index: 1337;
}
.recurly .field .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 9px;
  line-height: 34px;
  vertical-align: middle;
  color: #999;
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: 300;
}
.recurly .field.focus .placeholder {
  color: #ccc;
}
.recurly .field.invalid .placeholder {
  color: #a77;
}
.recurly .field.coupon_code {
  width: 127px;
}
.recurly .field.coupon_code input[type=text] {
  width: 128px;
}
.recurly .field.first_name {
  clear: left;
  width: 30%;
}
.recurly .field.first_name input[type=text] {
}
.recurly .field.first_name .error {
  left: 300px;
}
.recurly .field.last_name {
  margin-left: 20px;
  width: 45%;
  clear: none;
}
.recurly .field.last_name input[type=text] {
}
.recurly .field.card_number {
  width: 70%;
}
.recurly .field.card_number input[type=text] {
}
.recurly .field.card_number .error {
  left: 300px;
}
.recurly .field.cvv {
  width: 60px;
  margin-left: 20px;
  clear: none;
}
.recurly .field.cvv input[type=text] {
  width: 48px;
}
.recurly .field.expires {
}
.recurly .field.expires input[type=text] {
}
.recurly .field.expires .title {
  float: left;
  
  line-height: 24px;
  vertical-align: middle;
  width: 59px;
}
.recurly .field.expires .month {
  float: left;
  width: 126px;
  margin-left: 0;
  margin-right: 21px;
}
.recurly .field.expires .month input[type=text] {
  width: 108px;
}
.recurly .field.expires .year {
  float: left;
  margin-left: 1px;
  width: 60px;
}
.recurly .field.expires .year input[type=text] {
  width: 48px;
}
.recurly .field.state {
  //width: 180px;
  width: 50%;
}
.recurly .field.state input[type=text] {
  //width: 168px;
}
.recurly .field.state .error {
  left: 300px;
}
.recurly .field.zip {
  //width: 100px;
  width: 20%;
  margin-left: 3%;
  clear: none;
}
.recurly .field.zip input[type=text] {
  width: 88px;
}
.recurly .field.vat_number {
  width: 140px;
  display: none;
}
.recurly .field.vat_number input[type=text] {
  width: 128px;
}
.recurly .field.vat_number.applicable {
  display: block;
}
.recurly .only_zipstreet .zip.field,
.recurly .only_zip .zip.field {
  margin-left: 0;
  clear: left;
}
.recurly .accepted_cards {
  position: absolute;
  top: -3px;
  right: 180px;
  width: 160px;
}
.recurly .card {
  background-position: right top;
  background-repeat: no-repeat;
  text-indent: -3000px;
  width: 40px;
  height: 30px;
  margin: 0;
  padding: 0;
  float: left;
}
.recurly .card.mastercard {
  background-image: url("recurly/credit_cards/mastercard.png");
}
.recurly .card.american_express {
  background-image: url("recurly/credit_cards/amex.png");
}
.recurly .card.visa {
  background-image: url("recurly/credit_cards/visa.png");
}
.recurly .card.discover {
  background-image: url("recurly/credit_cards/discover.png");
}
.recurly .card.no_match {
  opacity: 0.5;
}
.recurly input[type=text].invalid,
.recurly select.invalid {
  border-color: #a55;
  background: #fee;
  color: #311;
}
.recurly .due_now {
  display: none;
  clear: both;
  height: 70px;
  line-height: 67px;
  vertical-align: middle;
  width: 460px;
  position: relative;
}
.recurly .due_now .title {
  float: left;
  position: relative;
}
.recurly .due_now .cost {
  float: right;
  font-weight: bold;
  margin: 0;
  position: relative;
}
.recurly .footer {
  margin: 0px;
  height: 75px;
}
.recurly.submitting .footer {
  background: url("recurly/submitting.gif") no-repeat 180px 28px;
}
.iefail {
  background: #666;
  padding: 10px;
  position: absolute;
  top: -1%;
  left: -1%;
  height: 102%;
  width: 102%;
  z-index: 9999;
}
.iefail .chromeframe {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}
.iefail .chromeframe p {
  text-align: center;
}
.iefail .chromeframe p.blast {
  font-weight: bold;
}
.iefail .chromeframe p a {
  color: #4183c4;
  text-transform: capitalize;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-large;
}

.submit[disabled] {
  background: #279DB5;
}

// ie7 overrides
.ie7 {
  .field {
    input[type=text] {
      vertical-align: middle;
      height: $base-line-height * 1.2;
      padding: 0 10px;
    }
    
    //line-height: $base-line-height * 1.2;
    
    overflow: visible;
    zoom: 1;
    margin-right: 20px;
  }
  .recurly .field.card_number {
    width: 150px;
  }
  .coupon {
    height: 100px;
  }
  .coupon_code {
    margin-right: 20px;
  }
  .contact_info {
    margin-bottom: $base-line-height;
  }
}