// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	margin-top: 21px;
}

.plan-overview {
	padding-top: 42px;
	text-align: center;
	h2 {
		font-size: 42px;
		margin-bottom: 10px;
		color: #bbb;
	}
}

.group {
	font-size: 42px;
	color: #aaa;
	margin: 21px 0;
	line-height: 60px;
	vertical-align: top;
	font-weight: 700;
}

/* Login page */

.sign-in {
	margin: 42px auto;
	width: 400px;
	padding: 20px;
	border: 1px solid #e2e2e2;
	background: #f1f1f1;
	@include background(linear-gradient(#fcfcfc, #e7e7e7));
	@include box-shadow(0 2px 5px rgba(0,0,0,0.2));
	@include border-radius(6px);	
	h2 {
		text-align: center;
	}
	label {
		font-size: 18px;
		color: #555;
		text-shadow: 0 0 1px #fff;
	}
	input {
		font-size: 18px;
		font-family: inherit;
		@include box-sizing(border-box);
	}
	input[type="email"], input[type="password"] {
		height: 2em;
		width: 100%;
		margin-bottom: 21px;
	}
	input[type="password"] {
		font-family: Arial;
	}
	input[type="submit"] {
		margin-top: 21px;
		width: 150px;
		height: 42px;
	}
}

h2 span.seperator { margin: 0 20px; }
h2 span { color: #999; }

input.property-number { width: 10%; }

//.btn.login { margin: 0 auto; width: 60px; text-align: center; float: right;margin-right: 40px; }
.cancel { float: right; margin: 12px 20px; }

#error_explanation h2 {
	font-size: 14px;
	font-weight: 700;
	color: $red;
}