// All dashboard sidebar styles

.sidebar {
	min-height: 700px;
	padding-top: $baseLineHeight * 2;
	text-align: center;
	h3 {
		font-size: 24px;
		color: #999;
		margin-bottom: 0px;
		font-weight: 400;
	}
	h3 + p { 
		margin-bottom: $baseLineHeight;
		color: $grey;
		font-size: 14px;
	}
	.edit-profile {
		font-size: 13px;
		margin-top: 10px;
		display: block;
	}
	.credit {
		display: inline-block;
		margin: 5px 15px;
		padding: 3px;
		text-indent: 0;
		clear: both;
		margin-bottom: $baseLineHeight; 
		text-align: center;
		opacity: .7;
		&.used {
			opacity: .35;
		}
	}
}

.profile-image {
	margin-bottom: $baseLineHeight;
	p {
		color: $grey;
		margin: 10px 0 $baseLineHeight;
	}
	img {
		opacity: .8;
		margin: 0 auto 10px;
		display: block;
		border: 1px solid #e2e2e2;
		padding: $baseLineHeight * .5 $baseLineHeight;
		@include box-shadow(0 1px 4px rgba(0,0,0,0.15));
	}
}