// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Home */
@import "static_pages/home";

/* Pricing */
@import "static_pages/plans";

/* Tour */
@import "static_pages/tour";

/* Contact */
@import "static_pages/contact_us";

/* Typical Scenarios */
@import "static_pages/typical_scenarios";

/* Tc's and C's */
@import "static_pages/terms_and_conditions";

@import "static_pages/our_service";

.static-page {
  padding-top: 21px;
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  h1 + p {
    color: #777;
    max-width: 40em;
    font-size: 18px;
  }

  ul {
    margin-left: 21px;
  }

  li {
    list-style-position: outside;
    margin-bottom: 10px;
  }
}
