// Base typography

a:hover {
  text-decoration: none;
}

li {
  list-style-position: inside;
}

h1 {
  margin-bottom: 0px;
  & + p {
    margin-bottom: $baseLineHeight;
  }
}

td small {
  font-size: $baseFontSize - 2;
  color: lighten($grey, 20%);
}

p { margin-bottom: $baseLineHeight; }

p.intro-paragraph {
  max-width: 40em;
}

.sub-info ul {
  margin-left: $baseLineHeight;
  li {
    list-style-position: outside;
    margin-bottom: $baseLineHeight / 2;
  }
}

.alert-success {
  a {
    color: #468847;
    font-weight: 700;
  }
}
