// Main app vars

$baseFontSize: 14px;
$baseLineHeight: 21px;
$baseFontFamily: 'Droid Sans', arial, sans-serif;

$baseColor: darken(#7ad0e2, 20%);

$darkGrey: #333;
$grey: #555;
$lightGrey: #e2e2e2;

$linkColor: $baseColor;
$linkColorHover: darken($baseColor, 10%);