%p Hello #{@resource.profile.first_name},

%p Someone has invited you to GP at Home, you can accept the invite through the link below.

%p= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @token, :protocol => 'http')

%p If you don't want to accept the invitation, please ignore this email.

%p Your account won't be created and approved until you access the link above and set your password.

%p Many thanks,

%p GP at Home
