= form_for @user, url: credit_user_admin_user_path, method: :post, :html => { :class => 'credit-user-form' } do |f|

  = render :partial => 'shared/error_messages', :object => @user

  %fieldset.inputs
    %h3 Credit Account
    = f.fields_for :account_credit do |ac|

      = ac.label :quantity
      = ac.select :quantity, (1..5).to_a

      = ac.label :notes
      = ac.text_area :notes, rows: 5

      = ac.hidden_field :credit_id, :value => Credit.first.id

  %fieldset.buttons
    %ol
      %li.commit.button= f.submit 'Credit User'
      %li.cancel= link_to 'Cancel', admin_users_path


  %fieldset.inputs
    %h3 Current Credits
    - if @user.account_credits.any?
      %table
        %thead
          %tr
            %td Quantity
            %td Notes
            %td Date
        %tbody
          - @user.account_credits.each do |c|
            %tr
              %td= c.quantity
              %td= c.notes
              %td= c.created_at.strftime('%B %d, %Y %H:%M') if c.created_at
              %td= link_to 'Delete', decredit_admin_user_path(c), confirm: 'Are you sure you wish to delete this credit?'
    - else
      Currently there are only the credits given to this user when they signed up.
