= form_for @user, url: invite_user_admin_users_path, :html => { :class => 'credit-user-form' } do |f|

  = render partial: 'shared/error_messages', object: @user

  %fieldset.inputs
    = f.label :email
    = f.text_field :email

    = f.label :plan
    = f.select :plan, Plan.all.map{ |p| [ p.name, p.name ] }

    = f.fields_for :profile do |p|
      = p.label :first_name
      = p.text_field :first_name

      = p.label :last_name
      = p.text_field :last_name

  %fieldset.buttons
    %ol
      %li.commit.button= f.submit 'Invite User'
      %li.cancel= link_to 'Cancel', admin_users_path
