.span8
  %h3 Payments made

  %table.index_table.index
    %thead
      %tr
        %th Payment date
        %th Payment amount
        %th Payment term
        %th Expiry date
        %th
    %tbody
      - @user.card_payments.reverse.each do |c|
        %tr{data:{id: c.id}}
          %td= c.payment_at.strftime("%d/%m/%Y")
          %td= "&pound;#{c.amount}".html_safe
          %td= CardPayment::PAYMENT_TERMS[c.payment_term]
          %td= c.expiry_date
          %td= link_to 'Delete', delete_payment_admin_user_path(@user, payment_id: c.id)

.span4

  %h3 Add payment
  = form_for @user, url: add_payments_admin_user_path(@user), method: :post, :html => { :class => 'payments-user-form' } do |f|

    = render partial: 'shared/error_messages', object: @user

    %fieldset.inputs
      = f.fields_for :card_payments,  @user.card_payments.build do |c|
        = c.label :payment_at, 'Payment date', class: 'label'
        .date-select
          = c.date_select :payment_at

        = c.label :amount
        = c.text_field :amount, placeholder: 'Amount paid by card'

        = c.label :payment_term
        = c.select :payment_term, CardPayment::PAYMENT_TERMS.invert


      = f.submit 'Add Payment'

