@charset "UTF-8";

@font-face {
  font-family: "gp-at-home";
  src:url("fonts/gp-at-home.eot");
  src:url("fonts/gp-at-home.eot?#iefix") format("embedded-opentype"),
    url("fonts/gp-at-home.woff") format("woff"),
    url("fonts/gp-at-home.ttf") format("truetype"),
    url("fonts/gp-at-home.svg#gp-at-home") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gp-at-home" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gp-at-home" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-fontawesome-webfont-1:before {
  content: "b";
}
.icon-fontawesome-webfont-2:before {
  content: "c";
}
.icon-fontawesome-webfont-3:before {
  content: "d";
}
