%h1 Account
%p.intro-paragraph This is your account...

%ul.nav.nav-tabs
  %li.plans= link_to 'Plans', user_account_path
  %li.password= link_to 'Change Password', edit_user_account_password_path
  - if current_user.is_account_holder? && current_user.group.plan.max_users != 1
    %li.account_users= link_to 'Account Users', user_account_group_path
