.row-fluid.links
  .span3
    %ul
      = global_nav('take_a_tour')
      = global_nav('our_service')
      = global_nav('typical_scenarios')
      - if SHOW_MEMBERSHIP_PLANS
        %li= link_to 'Plans', membership_plans_path
      = global_nav('faqs')
      = global_nav('about_us')
      = global_nav('contact_us')
      = global_nav('terms_and_conditions')
  .span3

  .span6
    = image_tag 'gp-logo-smaller-gs.png', class: 'gp-logo'

    / - DO NOT EDIT - GlobalSign SSL Site Seal Code - DO NOT EDIT -
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :title => "CLICK TO VERIFY: This site uses a GlobalSign SSL Certificate to secure your personal information.", :width => "130"}
      %tr
        %td
          %span#ss_img_wrapper_130-65_image_en
            %a{:href => "http://www.globalsign.co.uk/", :target => "_blank", :title => "SSL"}
              %img#ss_img{:alt => "Buy SSL", :border => "0", :src => "//seal.globalsign.com/SiteSeal/images/gs_noscript_130-65_en.gif"}/
          %script{:src => "//seal.globalsign.com/SiteSeal/gs_image_130-65_en.js", :type => "text/javascript"}
          %br/
          %a{:href => "http://www.globalsign.co.uk/", :style => "color:#000000; text-decoration:none; font:bold 8px arial; margin:0px; padding:0px;", :target => "_blank"} SSL Certificate
    / - DO NOT EDIT - GlobalSign SSL Site Seal Code - DO NOT EDIT -

%footer.row-fluid
  %small
    Powered by
    %a{ href: 'https://www.gpathome.com' }GP at Home

