%ul.nav.nav-tabs
  = global_nav('take_a_tour')
  = global_nav('our_service')
  - if SHOW_MEMBERSHIP_PLANS
    %li= link_to 'Membership Plans', membership_plans_path
  = global_nav('faqs')
  = global_nav('about_us')
  = global_nav('contact_us')
