.row-fluid
  .span12
    .row-fluid
      .span3
        = header_logo
      .span9
        .row-fluid
          - if user_signed_in?
            .actions
              Signed in as
              %b= current_user.email
              #{link_to 'Logout', destroy_user_session_path, :method => :delete if user_signed_in?}
          - else
            .actions
              = link_to 'Login', new_user_session_path
        .row-fluid
          - if user_signed_in? && !current_user.is_admin_or_gp?
            = render 'layouts/user_nav'
          - else
            = render 'layouts/global_nav'
