%h1 Profiles
%p.intro-paragraph These are your profiles...

%ul.nav.nav-tabs
  %li.profiles= link_to 'Profile', edit_profile_path(current_user.profile)
  %li.medical_profiles= link_to 'Medical Profile', edit_medical_profile_path(current_user.medical_profile)
