%ul.nav.nav-tabs
  %li.dashboard= link_to "Dashboard", dashboard_path
  %li.consultations= link_to "Consultations", consultations_path
  %li.profiles= link_to "Profiles", edit_profile_path(current_user.profile)
  %li.docustore= link_to "Docustore", docustore_path
  %li.accounts= link_to "Account", user_account_path
