!!!
/[if IE 7] <html lang="en" class="ie7">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"><!--<![endif]-->
%html
  %head
    %title
      - if content_for? :title
        = yield :title
      - else
        GP at Home
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = yield :head_javascripts
    = csrf_meta_tags

  %body{:class => "#{yield :body_class} #{params[:controller]} #{params[:action]}" }

    .container-fluid
      %header
        = render 'layouts/header'
      %section.main-body
        = yield
      %aside
        = render 'layouts/footer'
    = render 'layouts/ga' if Rails.env == 'production'
