- title('Billing Details')

- content_for :head_javascripts do
  = javascript_tag do
    = raw render :partial => 'accounts/billing_details', :formats => [:js], :object => @payment

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/account_nav_header'

    .row-fluid
      .span12
        %h2 Billing Details

        = render :partial => 'layouts/flash', :object => flash

        %p Here you update your billing details...

        #recurly-form.billing-details
          Loading billing details...

  = render partial: 'shared/user_sidebar'
