- title('Account')

.row-fluid.dashboard-main
  .span8.main

    = render :partial => 'layouts/account_nav_header'

    .row-fluid.current-plan
      .span12
        %h2 Current Plan

        = render :partial => 'layouts/flash', :object => flash

        %p
          You are currently on the
          %b= @user.group.plan.name
          plan.

        - if SHOW_PAYMENT_BUTTON
          = link_to 'Manage my Subscription', PAYMENT_BUTTON_ADDRESS,  target: '_blank', class: 'btn  btn-large'

        - if SHOW_MEMBERSHIP_PLANS
          = link_to 'Upgrade Plan', membership_plans_path, :class => 'btn btn-primary btn-large'

  = render partial: 'shared/user_sidebar'
